/*a {
  color: #0254EB
}
a:visited {
  color: #0254EB
}
a.morelink {
  text-decoration:none;
  outline: none;
}
.morecontent span {
  display: none;
}
.comment {
  width: 400px;
  background-color: #f0f0f0;
  margin: 10px;
}*/
/*li {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
  background-color: #dddddd;
  padding: 10px;
  list-style-type:none;
}*/
/*.flex-container {
  /* We first create a flex layout context 
  display: flex;
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   
}*/
/*.flex-item {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}*/
/*.flex-item .read-more {
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
  background-color: #dddddd;*/
  
  /* "transparent" only works here because == rgba(0,0,0,0) */
  /*background-image: linear-gradient(to bottom, transparent, black);
}*/
/* On screens that are 992px wide or less, go from four columns to two columns */
/*@media screen and (max-width: 992px) {
  .column {
    flex: 100%;
  }
}*/

.container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex; /* NEW */
    display: flex;
    -webkit-flex-wrap: wrap; /* NEW */
    flex-wrap: wrap;
    font-family: "Open Sans";
}

ul {

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-between; 
  justify-content: space-between; 

   width: 100%;
   padding: 0;

   li {
      padding: 0;
   }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #events-past {
@@ -182,4 +214,4 @@ h1 {
.collapse a:link, a:visited {
  text-decoration: underline;
  color: #eb670f !important;
} 
}
